@model ProgramaEstagio.Models.Entidades.Sale

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes da Venda</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SaleValue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SaleValue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SaleDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SaleDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserForeignKey)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserForeignKey.FirstName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Editar</a> |
    <a asp-action="Index">Voltar</a>
</div>
